{
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-object-assign"
  ],
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
