{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "globals": {
    "jest": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "globalReturn": false
    },
  },
  "rules": {
    "no-use-before-define": 0,
    "jsx-quotes": 0,
    "react/display-name": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1
  }
}
