.pagify-pagination {
    margin: 1em;
    padding: 0;

    list-style: none;
}
.pagify-pagination li {
    margin: 0;
    margin-right: 1em;
    padding: 0.5em;

    display: inline-block;

    background: #ddd;
}
.pagify-pagination a {
    text-decoration: none;
}
.pagify-pagination .selected {
    background: #222;
}
.pagify-pagination .selected a {
    color: #eee;
}
