body {
    background: #ddd;

    font-family: Sans-Serif;
}

article {
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
}

pre {
    background: #fafefe;
    padding: 0.5em;
}

.github-fork-ribbon {
    position: fixed;

    letter-spacing: 0.01em;
}
